---
import Layout from "../../layouts/Layout.astro";
import Sidebar from "../../components/dashbord/Sidebar.astro";
import Topbar from "../../components/dashbord/Topbar.astro";
import "../../styles/dashbord.css";
import UserTable from "../../components/configuracion/UserTable.astro";
---

<Layout title="Configuración - Usuarios">
  <div class="dashboard-layout">
    <Sidebar />

    <div class="main-content">
      <Topbar />

      <div class="content-area">
        <div class="proyectos-container perfil-container">
          <div class="proyectos-header">
            <div style="flex:1">
              <h1 class="page-title">Usuarios</h1>
            </div>
          </div>

          <div style="margin-top:12px;">
            <UserTable />
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
